.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000033;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.itemCard {
  margin: 8px;
}

.itemCardBadge {
  margin: 8px;
}

.shoppingCartIcon {
  font-size: 30px;
  margin-right: 16px;
  cursor: pointer;
}

.badge {
  margin-right: 30px !important;
  margin-top: 10px !important;
}

.appFooter {
  height: 80px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
}

.appMenu {
  border: none;
}

.productContainer {
  padding: 8px;
}
.custom-search {
  width: 300px;
  border-radius: 20px;
  margin-right: 90px;
  margin-top: 10px;
}
